name: Rust
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true
        components: rustfmt, clippy
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Check formatting
      run: cargo fmt --all -- --check
    - name: Run Clippy
      run: cargo clippy --all-targets --all-features -- -D warnings
    - name: Build
      run: cargo build --release
    - name: Run tests
      run: cargo test --verbose
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: binary
        path: target/release/repeat

  release:
    name: Create GitHub Release
    runs-on: ubuntu-latest
    needs: build_test
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    outputs:
      tag_name: ${{ steps.version.outputs.new_tag }}
    steps:
    - uses: actions/checkout@v4
    - name: Download built binary
      uses: actions/download-artifact@v4
      with:
        name: binary
        path: ./dist
    - name: Get latest tag or create one automatically
      id: version
      run: |
        latest_tag=$(git describe --tags --abbrev=0 || echo "v0.0.0")
        echo "latest_tag=$latest_tag" >> $GITHUB_OUTPUT
        new_tag=v$(echo $latest_tag | awk -F. '{printf("%d.%d.%d", $1,$2,$3+1)}')
        echo "new_tag=$new_tag" >> $GITHUB_OUTPUT
    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.version.outputs.new_tag }}
        name: Release ${{ steps.version.outputs.new_tag }}
        generate_release_notes: true
        files: ./dist/repeat

  homebrew:
    name: Publish to Homebrew Tap
    runs-on: ubuntu-latest
    needs: release
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Bump Homebrew formula
        uses: mislav/bump-homebrew-formula-action@v2
        with:
          formula-name: repeat
          org: shaankhosla
          tap: homebrew-tap
          tag-name: ${{ needs.release.outputs.tag_name }}
          download-url: https://github.com/${{ github.repository }}/releases/download/${{ needs.release.outputs.tag_name }}/repeat
        env:
          COMMITTER_TOKEN: ${{ secrets.HOMEBREW_TAP_PAT }}
